#include <windows.h>
1 DIALOGEX 0, 0, 320, 266
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Accent Messenger settings"
FONT 9, "Segoe UI"
BEGIN
    LTEXT "&Voice characteristic:", -1, 10, 12, 118, 12
    COMBOBOX 101, 140, 9, 164, 110, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "&Inflection:", -1, 10, 38, 118, 12
    COMBOBOX 102, 140, 35, 164, 95, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "&Word spacing:", -1, 10, 64, 118, 12
    COMBOBOX 103, 140, 61, 164, 110, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "&Rate (0 to 100):", -1, 10, 90, 118, 12
    EDITTEXT 104, 140, 87, 65, 15, ES_NUMBER | WS_TABSTOP
    LTEXT "&Pitch (0 to 100):", -1, 10, 116, 118, 12
    EDITTEXT 105, 140, 113, 65, 15, ES_NUMBER | WS_TABSTOP
    LTEXT "V&olume (0 to 100):", -1, 10, 142, 118, 12
    EDITTEXT 106, 140, 139, 65, 15, ES_NUMBER | WS_TABSTOP
    AUTOCHECKBOX "Read numbers as individual &digits", 107, 10, 164, 280, 14, WS_TABSTOP
    LTEXT "Test te&xt:", -1, 10, 186, 118, 12
    EDITTEXT 108, 10, 201, 294, 26, ES_MULTILINE | ES_AUTOVSCROLL | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON "&Save", IDOK, 10, 239, 65, 17
    PUSHBUTTON "Pre&view", 109, 84, 239, 65, 17
    PUSHBUTTON "S&top", 110, 158, 239, 65, 17
    PUSHBUTTON "Close", IDCANCEL, 232, 239, 72, 17
END
